.header {
  height: 80px;
  background-color: greenyellow;
  margin: 10px, auto;
}

img {
  width: 100%;
}

.wh {
  width: 100%;
  margin-bottom: 8px;
}

.half {
  width: 50%;
  text-align: center;
}
